---
import { getCollection } from "astro:content";
import FormattedDate from "../../../components/FormattedDate.astro";
import CurationDetailsPage from "../../../layouts/CurationDetailsPage.astro";

const filmLibrary = (await getCollection("filmLibrary")).sort(
  (a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf()
);
---

<CurationDetailsPage title="Films">
  <section>
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-8 list-none p-0">
      {
        filmLibrary.map((film) => (
          <li class="grid grid-cols-4 gap-4 mb-6 md:mb-0 rounded-sm box-border dark:text-white">
            <div class="col-span-4 sm:col-span-1">
              <a
                class="visited:text-amber-600 hover:grayscale"
                href={`/curation/films/${film.slug}`}
              >
                <img
                  alt={film.data.heroImageAlt}
                  src={film.data.heroImage}
                  width="200"
                />
              </a>
            </div>
            <div class="col-span-4 sm:col-span-3">
              <div class="mb-2 border-b-2 border-gray-300 dark:border-gray-700">
                <a
                  class="visited:text-amber-600 hover:text-purple-500"
                  href={`/curation/films/${film.slug}`}
                >
                  {film.data.title}
                </a>
              </div>
              <div>Dir. {film.data.director}</div>
              <div class="mt-2 dark:text-slate-100">{film.data.blurb}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</CurationDetailsPage>
