---
import { getCollection } from "astro:content";
import FormattedDate from "../../../components/FormattedDate.astro";
import LibraryPage from "../../../layouts/LibraryPage.astro";

const bookLibrary = (await getCollection("book")).sort(
  (a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf()
);
---

<LibraryPage>
  <section>
    <ul class="flex flex-wrap list-none mt-8 p-0 gap-4">
      {
        bookLibrary.map((book) => (
          <li class="flex flex-shrink-0 flex-grow-0 flex-col flex-[200px] rounded-sm box-border dark:text-white">
            <a
              class="visited:text-purple-600"
              href={`/library/books/${book.slug}`}
            >
              <img
                alt={book.data.heroImageAlt}
                src={book.data.heroImage}
                width="200"
              />
            </a>
            <div class="py-3 px-4 border-t-2 border-solid border-gray-100 mt-4">
              <div>{book.data.title}</div>
              <div>{book.data.bookAuthor}</div>
              <FormattedDate
                class="italic text-slate-600 dark:text-slate-300"
                date={book.data.dateConsumed}
              />
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</LibraryPage>
