---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseBody from "../../components/BaseBody.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header />
    <main>
      <h2 class="text-2xl mb-5">Projects</h2>
      <section>
        <ul class="list-none p-0">
          {
            projects.map((project) => (
              <li class="flex">
                <FormattedDate
                  class="flex-grow-0 flex-shrink-0 flex-[130px] italic text-slate-600"
                  date={project.data.createdDate}
                />
                {/** Array.isArray(project.data.tags) &&
								project.data.tags.map((tag) => `#${tag}`).join(" ") */}
                <a
                  class="visited:text-purple-600"
                  href={`/project/${project.slug}/`}
                >
                  {project.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </BaseBody>
</html>
