---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseBody from "../../components/BaseBody.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li :global(time) {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <BaseBody>
    <Header />
    <main>
      <h2 class="text-2xl mb-5">Projects</h2>
      <section>
        <ul>
          {
            projects.map((project) => (
              <li>
                <FormattedDate date={project.data.createdDate} />
                {/** Array.isArray(project.data.tags) &&
								project.data.tags.map((tag) => `#${tag}`).join(" ") */}
                <a href={`/project/${project.slug}/`}>{project.data.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </BaseBody>
</html>
