---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseBody from "../../components/BaseBody.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header />
    <main>
      <h2 class="text-2xl mb-5">Writing</h2>
      <section>
        <ul class="list-none p-0">
          {
            posts.map((post) => (
              <li class="flex">
                <FormattedDate
                  class="flex-shrink-0 flex-grow-0 flex-[130px] italic text-slate-600"
                  date={post.data.pubDate}
                />
                <a class="visited:text-purple-600" href={`/blog/${post.slug}/`}>
                  {post.data.title}
                </a>
                &nbsp;{`#${post.data.postType}`}
                {/** Array.isArray(post.data.tags) &&
								post.data.tags.map((tag) => `#${tag}`).join(" ") */}
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </BaseBody>
</html>
