---
import { getCollection, getEntry } from "astro:content";
import CurationDetailsPage from "../../../layouts/CurationDetailsPage.astro";
import FormattedDate from "../../../components/FormattedDate.astro";
import ProseArticle from "../../../components/ProseArticle.astro";
import type { CollectionEntry } from "astro:content";

const series = (await getCollection("series")).sort(
  (a: CollectionEntry<"series">, b: CollectionEntry<"series">) =>
    b.data.createdDate.valueOf() - a.data.createdDate.valueOf()
);
const entry = await getEntry("curation", "newsletter");
const { heroImage, heroImageAlt } = entry.data;
---

<CurationDetailsPage
  image={heroImage}
  imageAlt={heroImageAlt}
  title="Newsletter"
>
  <ProseArticle>
    <p class="my-4">
      An old newsletter revamped by Jeremy Wong from Craft By Zen. This
      newsletter to be more monthly updates about the website, blog posts, and
      life. Retiring the longform essays from the newsletter, and leaving that
      in for the blog.
    </p>
    <p>
      You can subscribe below or on the dedicated <a
        href="https://buttondown.email/craftbyzen"
        target="_blank">newsletter website</a
      >.
    </p>

    <section>
      <ul class="list-none lg:p-0 lg:m-0 flex flex-col gap-12">
        {
          series.map((s) => (
            <li class="flex flex-col md:flex-row">
              <div class="flex flex-col md:shrink-0 md:grow-0 md:flex-[350px]">
                <a
                  class="hover:text-purple-700 dark:hover:text-purple-300 visited:text-amber-600"
                  href={`/curation/newsletter/${s.slug}/`}
                >
                  {s.data.title}
                </a>
                <div class="italic text-slate-600 dark:text-slate-300">
                  <FormattedDate date={s.data.createdDate} />
                  &nbsp;to&nbsp;
                  {s.data.endDate ? (
                    <FormattedDate date={s.data.endDate} />
                  ) : (
                    "Present"
                  )}
                </div>
                {s.data.heroImage && (
                  <img width={240} src={s.data.heroImage} alt="" />
                )}
              </div>
              <div>{s.data.description}</div>
            </li>
          ))
        }
      </ul>
    </section>
    <hr class="mt-5 mb-5" />

    <h2 id="subscribe">Subscribe!</h2>
    <p>
      I have put back together my newsletter after years of absense! These are
      primarily updates on my blog, "Craft By Zen", and maybe some highlights to
      the new articles I've written. There might be some life updates as well.
      I'm doing away with the old format of weekly longform essays, and trying
      some new things with my newsletter.
    </p>

    <!-- <form
      action="https://tinyletter.com/jeremywong"
      class="landing-newsletter-form"
      method="post"
      onsubmit="window.open('https://tinyletter.com/jeremywong', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
      target="popupwindow"
    >
      <div>
        <label for="tlemail">
          If what you read resonates with you, please <strong
            >subscribe</strong
          >!
        </label>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div>
          <input
            type="text"
            name="email"
            id="tlemail"
            class="py-1 px-2 md:py-2 md:px-4"
            placeholder="email address"
          />
          <input type="hidden" value="1" name="embed" />
        </div>
        <div>
          <input class="sr-only" type="hidden" value="Subscribe" />
          <button
            class="bg-yellow-700 hover:bg-yellow-700 dark:bg-yellow-300 text-white dark:text-black font-bold py-2 px-4 rounded-sm"
            type="submit">Subscribe</button
          >
        </div>
      </div>
      <p class="text-sm">
        <a href="https://tinyletter.com" target="_blank"
          >powered by TinyLetter</a
        >
      </p>
    </form> -->
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/craftbyzen"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/craftbyzen', 'popupwindow')"
      class="embeddable-buttondown-form flex flex-col gap-2 sm:w-[50%]"
    >
      <label class="text-slate-800 dark:text-slate-200 text-sm" for="bd-email"
        >Email</label
      >
      <input
        class="py-1 px-2 md:py-2 md:px-4"
        type="email"
        name="email"
        id="bd-email"
        placeholder="Enter your email"
      />

      <button
        type="submit"
        value="Subscribe"
        class="bg-yellow-700 hover:bg-purple-700 dark:bg-yellow-300 text-white dark:text-black font-bold px-4 rounded-sm"
        >Subscribe</button
      >
      <a
        class="text-sm"
        href="https://buttondown.email/refer/craftbyzen"
        target="_blank">Powered by Buttondown.</a
      >
    </form>
  </ProseArticle>
</CurationDetailsPage>
