---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import CurationPage from "../../layouts/CurationPage.astro";
import ProseArticle from "../../components/ProseArticle.astro";
import CurationItem from "../../components/CurationItem.astro";

const TOTAL_NUMBER_OF_ITEMS = 6;
const bookLibrary = (await getCollection("book"))
  .sort((a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "books",
    },
  }));
const filmLibrary = (await getCollection("filmLibrary"))
  .sort((a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "films",
    },
  }));
// const posts = (await getCollection("blog")).filter((post) => !post.data.draft);
const lindyLibrary = (await getCollection("lindy"))
  .sort((a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "lindy",
    },
  }));

// Combines all of the collections and finds the latest `TOTAL_NUMBER_OF_ITEMS` items
const combination = [...bookLibrary, ...filmLibrary, ...lindyLibrary]
  .sort((a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf())
  .slice(0, TOTAL_NUMBER_OF_ITEMS);

const curations = (await getCollection("curation")).sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<CurationPage>
  <ProseArticle class="mx-0">
    <p>
      This is the curated collection of eclectic items. I love collecting
      different kinds of mediums and media. The things that have resonated I'll
      shelve in my library.
    </p>
  </ProseArticle>
  <section class="mt-8">
    <ul
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 list-none p-0"
    >
      {
        curations.map(
          (curation) => !curation.data.draft && <CurationItem item={curation} />
        )
      }
    </ul>
  </section>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
  <section class="mt-8">
    <h3 class="text-xl mb-5 dark:text-white">Latest</h3>
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4 list-none p-0">
      {
        combination.map((item) => (
          <li class="flex flex-col sm:flex-row flex-[100%] sm:flex-[48%] gap-4 mb-6 md:mb-0 rounded-sm box-border dark:text-white">
            <div class="flex-shrink-0 flex-grow-0 flex-initial sm:w-32">
              <a
                class="visited:text-amber-600"
                href={`/curation/${item.data.type}/${item.slug}`}
              >
                <img
                  src={item.data.heroImage}
                  class="aspect-auto w-full sm:w-32"
                  alt={item.data.heroImageAlt}
                />
              </a>
            </div>
            <div class="md:py-0 md:px-0 mt-2 md:mt-0">
              <div class="font-bold mb-2">
                <a
                  class="hover:underline hover:text-purple-500 visited:text-amber-600"
                  href={`/curation/${item.data.type}/${item.slug}`}
                >
                  {item.data.title}
                </a>
              </div>
              <div class="mb-2 border-b-2 border-gray-300 dark:border-gray-700 font-thin">
                {item.data.type === "books" && (
                  <>Author:&nbsp;{item.data.bookAuthor}</>
                )}
                {item.data.type === "films" && (
                  <>Dir:&nbsp;{item.data.director}</>
                )}
                {!["books", "films"].includes(item.data.type) && (
                  <>{item.data.author}</>
                )}
              </div>
              <FormattedDate
                class="italic text-slate-600 dark:text-slate-300"
                date={item.data.dateConsumed}
              >
                <span slot="prepend">First consumed:&nbsp;</span>
              </FormattedDate>
              <div class="mt-2 dark:text-slate-100">{item.data.blurb}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</CurationPage>
