---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseBody from "../../components/BaseBody.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";

const series = (await getCollection("series")).sort(
  (a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header />
    <main>
      <header>
        <h2 class="text-2xl mb-5">Newsletter Series</h2>
      </header>

      <article class="prose lg:prose-xl ml-auto mr-auto">
        <p>
          A weekly, longform essay that mainly focuses on lessons I've learned.
          I try to write something I find meaningful, whether it's exposing your
          ignorance, staying true to yourself or being resilient. In a world of
          tweet-sized advice and short comments on a non-sensical Facebook post,
          there's not enough time to process and distill what we're actually
          thinking. These letters are to slow down, lean in and really try to
          form more coherent thoughts than writing that instant gratification
          post on my choice of social networking site.
        </p>

        <section>
          <ul class="list-none p-0 flex flex-col gap-12">
            {
              series.map((s) => (
                <li class="flex">
                  <div class="flex flex-col flex-shrink-0 flex-grow-0 flex-[350px]">
                    <a
                      class="visited:text-purple-600"
                      href={`/series/${s.slug}/`}
                    >
                      {s.data.title}
                    </a>
                    <div class="italic text-slate-600">
                      <FormattedDate date={s.data.createdDate} />
                      &nbsp;to&nbsp;
                      <FormattedDate date={s.data.endDate} />
                    </div>
                    {s.data.heroImage && (
                      <img width={240} src={s.data.heroImage} alt="" />
                    )}
                  </div>
                  <div>{s.data.description}</div>
                </li>
              ))
            }
          </ul>
        </section>
      </article>
    </main>
    <Footer />
  </BaseBody>
</html>
