---
import { getCollection } from "astro:content";
import FormattedDate from "../../../components/FormattedDate.astro";
import CurationPage from "../../../layouts/CurationPage.astro";
import ProseArticle from "../../../components/ProseArticle.astro";
import CurationItem from "../../../components/CurationItem.astro";

// const TOTAL_NUMBER_OF_ITEMS = 6;

const antibookLibrary = (await getCollection("antiLibrary"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "antibooks",
    },
  }));
const bookLibrary = (await getCollection("book"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "books",
    },
  }));
const creators = (await getCollection("creator"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "creators",
    },
  }));
const filmLibrary = (await getCollection("filmLibrary"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "films",
    },
  }));
// const posts = (await getCollection("writing")).filter((post) => !post.data.draft);
const lindyLibrary = (await getCollection("lindy"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "lindy",
    },
  }));
const logs = (await getCollection("log"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((item) => ({
    ...item,
    data: {
      ...item.data,
      type: "log",
    },
  }));

// Combines all of the collections and finds the latest `TOTAL_NUMBER_OF_ITEMS` items
const combination = [
  ...antibookLibrary,
  ...bookLibrary,
  ...creators,
  ...filmLibrary,
  ...lindyLibrary,
  ...logs,
].sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const curations = (await getCollection("curation")).sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<CurationPage>
  <ProseArticle class="mx-0">
    <p>
      This is the curated collection of eclectic items. I love collecting
      different kinds of mediums and media. The things that have resonated I'll
      shelve in my library.
    </p>
  </ProseArticle>
  <section class="mt-8">
    <h3 class="text-xl mb-5 dark:text-white">All</h3>
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8 list-none p-0">
      {
        combination.map((item) => (
          <li class="flex flex-col sm:flex-row flex-[100%] sm:flex-[48%] gap-4 mb-6 md:mb-0 rounded-sm box-border dark:text-white">
            <div class="flex-shrink-0 flex-grow-0 flex-initial sm:w-32">
              <a
                class="visited:text-amber-600 hover:grayscale"
                href={`/curation/${item.data.type}/${item.slug}`}
              >
                <img
                  src={item.data.heroImage}
                  class="aspect-auto w-full sm:w-32"
                  alt={item.data.heroImageAlt}
                />
              </a>
            </div>
            <div class="md:py-0 md:px-0 mt-2 md:mt-0">
              <div class="font-bold mb-2">
                <a
                  class="hover:underline hover:text-purple-500 visited:text-amber-600"
                  href={`/curation/${item.data.type}/${item.slug}`}
                >
                  {item.data.title}
                </a>
              </div>
              <div class="mb-2 border-b-2 border-gray-300 dark:border-gray-700 font-thin">
                Created By:&nbsp;{item.data.creator}
              </div>
              <FormattedDate
                class="italic text-slate-600 dark:text-slate-300"
                date={item.data.pubDate}
              >
                <span slot="prepend">Published:&nbsp;</span>
              </FormattedDate>
              <div class="mt-2 dark:text-slate-100">{item.data.blurb}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</CurationPage>
