---
import { getCollection } from "astro:content";
import CurationDetailsPage from "../../../layouts/CurationDetailsPage.astro";
import ProseArticle from "../../../components/ProseArticle.astro";

const lindyLibrary = (await getCollection("lindy")).sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---

<CurationDetailsPage title="Timeless Treasure Trove">
  <section>
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-8 list-none p-0">
      {
        lindyLibrary.map((lindyItem) => (
          <li class="grid grid-cols-4 gap-4 mb-6 md:mb-0 rounded-sm box-border dark:text-white">
            <div class="col-span-4 sm:col-span-1">
              <a
                class="visited:text-amber-600 hover:grayscale"
                href={`/curation/antibooks/${lindyItem.slug}`}
              >
                <img
                  alt={lindyItem.data.heroImageAlt}
                  src={lindyItem.data.heroImage}
                  width="200"
                />
              </a>
            </div>
            <div class="col-span-4 sm:col-span-3">
              <div class="mb-2 border-b-2 border-gray-300 dark:border-gray-700">
                <a
                  class="hover:underline hover:text-purple-500 visited:text-amber-600"
                  href={`/curation/lindy/${lindyItem.slug}`}
                  title={lindyItem.data.title}
                >
                  {lindyItem.data.title}
                </a>
              </div>
              <div>{lindyItem.data.author}</div>
              <div class="mt-2 dark:text-slate-100">{lindyItem.data.blurb}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
  <hr class="mt-10 mb-10" />
  <section>
    <ProseArticle>
      <h2 class="text-2xl mt-8 mb-4 dark:text-white">
        What's a Lindy Library? (renamed as Timeless Treasure Trove)
      </h2>
      <p class="dark:text-white">
        A <strong>Lindy Library</strong> is an annex of content that has stood the
        test of time.
      </p>
      <p>
        Inspired by <a href="https://www.thelindylibrary.org/" target="_blank"
          >The Lindy Library</a
        > project and Swyx's <a
          href="https://learninpublic.org/"
          target="_blank">Coding Career Handbook</a
        >. My criteria for being in the collection are the following.
      </p>
      <ol>
        <li>
          Has to be over a year old (maybe 2), and still stands the test of
          time.
        </li>
        <li>Compounds our knowledge.</li>
        <li>Can extend to benefit my community.</li>
      </ol>
      <p>
        If nothing else, this is a place I come back to every year to remind
        myself what timeless advice I want to come back to.
      </p>
    </ProseArticle>
  </section>
</CurationDetailsPage>
