---
import { getCollection, getEntry } from "astro:content";
import CurationDetailsPage from "../../../layouts/CurationDetailsPage.astro";

const bookLibrary = (await getCollection("book")).sort(
  (a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf()
);
const entry = await getEntry("curation", "books");
const { heroImage, heroImageAlt } = entry?.data ?? {};
---

<CurationDetailsPage image={heroImage} imageAlt={heroImageAlt} title="Library">
  <section>
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-8 list-none p-0">
      {
        bookLibrary.map((book) => (
          <li class="flex flex-col sm:flex-row flex-[100%] sm:flex-[48%] gap-4 mb-6 md:mb-0 rounded-xs box-border dark:text-white">
            <div class="shrink-0 grow-0 flex-initial sm:w-32">
              <a
                class="visited:text-amber-600 hover:grayscale"
                href={`/curation/books/${book.slug}`}
              >
                <img
                  alt={book.data.heroImageAlt}
                  src={book.data.heroImage}
                  width="200"
                />
              </a>
            </div>
            <div class="md:py-0 md:px-0 mt-2 md:mt-0">
              <div class="mb-2 border-b-2 border-gray-300 dark:border-gray-700">
                <a
                  class="visited:text-amber-600 hover:text-purple-500"
                  href={`/curation/books/${book.slug}`}
                >
                  {book.data.title}
                </a>
              </div>
              <div class="font-thin">Author: {book.data.bookAuthor}</div>
              <div class="mt-2 dark:text-slate-100">{book.data.blurb}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</CurationDetailsPage>
