---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseBody from "../components/BaseBody.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectListItem from "../components/ProjectListItem.astro";
import ProseArticle from "../components/ProseArticle.astro";
import WritingListItem from "../components/WritingListItem.astro";

const MAX_ITEMS = 5;

const latestPosts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, MAX_ITEMS);
const lastProjects = (await getCollection("project"))
  .sort((a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf())
  .slice(0, MAX_ITEMS);
const latestBooks = (await getCollection("library"))
  .sort((a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf())
  .slice(0, MAX_ITEMS);
const latestFilms = (await getCollection("filmLibrary"))
  .sort((a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf())
  .slice(0, MAX_ITEMS);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <BaseBody>
    <Header title={SITE_TITLE} />
    <main class="dark:text-white">
      <h1 class="mt-12 mb-6 text-3xl md:text-6xl">
        <strong>Jeremy</strong> makes essays and mini projects about programming,
        data, and crafting.
      </h1>
      <h2 class="mb-2 text-2xl font-thin">
        Maker, Home Cook, Book and Film Nerd. Currently leading application
        development at <a
          class="text-orange-700 hover:text-orange-300 dark:text-orange-500"
          href="https://clearlabs.com/"
          target="_blank">Clear Labs</a
        >
      </h2>

      <hr class="mt-10 mb-10" />

      <div class="flex flex-col md:flex-row">
        <div class="flex-[50%]">
          <ProseArticle>
            <h2>
              <a
                href="/blog"
                class="hover:text-slate-800 dark:hover:text-slate-300"
                >Recent Writing</a
              >
            </h2>
            <ul>
              {latestPosts.map((post) => <WritingListItem post={post} />)}
            </ul>
          </ProseArticle>
        </div>
        <div class="flex-[50%]">
          <ProseArticle>
            <h2>
              <a
                href="/project"
                class="hover:text-slate-800 dark:hover:text-slate-300"
                >Recent Projects</a
              >
            </h2>
            <ul>
              {
                lastProjects.map((project) => (
                  <ProjectListItem project={project} />
                ))
              }
            </ul>
          </ProseArticle>
        </div>
      </div>

      <hr class="mt-5 mb-5" />

      <div class="flex flex-col">
        <ProseArticle>
          <h2>
            <a href="/library/books">Latest Books</a>
          </h2>
          <ul class="flex flex-wrap list-none p-0 gap-2">
            {
              latestBooks.map((book) => (
                <li class="flex flex-shrink-0 flex-grow-0 flex-col rounded-sm box-border dark:text-white">
                  <a href={`/library/books/${book.slug}`} title={book.data.title}>
                    <img
                      src={book.data.heroImage}
                      width="100"
                      height="150"
                      alt={book.data.heroImageAlt}
                    />
                  </a>
                </li>
              ))
            }
          </ul>
        </ProseArticle>
        <ProseArticle>
          <h2>
            <a href="/library/films">Latest Films</a>
          </h2>
          <ul class="flex flex-wrap list-none p-0 gap-2">
            {
              latestFilms.map((film) => (
                <li class="flex flex-shrink-0 flex-grow-0 flex-col rounded-sm box-border dark:text-white">
                  {film.data.heroImage && (
                    <a href={`/library/films/${film.slug}`} title={film.data.title}>
                      <img
                        width="100"
                        height="150"
                        src={film.data.heroImage}
                        alt={film.data.heroImageAlt}
                      />
                    </a>
                  )}
                </li>
              ))
            }
          </ul>
        </ProseArticle>
      </div>

      <hr class="mt-5 mb-5" />

      <ProseArticle>
        <h2>
          <a
            href="/series"
            class="hover:text-slate-800 dark:hover:text-slate-300"
            >Newsletter Series</a
          >
        </h2>

        <p>
          A weekly, longform essay that mainly focuses on lessons I've learned.
          I try to write something I find meaningful, whether it's exposing your
          ignorance, staying true to yourself or being resilient. In a world of
          tweet-sized advice and short comments on a non-sensical Facebook post,
          there's not enough time to process and distill what we're actually
          thinking. These letters are to slow down, lean in and really try to
          form more coherent thoughts than writing that instant gratification
          post on my choice of social networking site.
        </p>

        <form
          action="https://tinyletter.com/jeremywong"
          class="landing-newsletter-form"
          method="post"
          onsubmit="window.open('https://tinyletter.com/jeremywong', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
          target="popupwindow"
        >
          <div>
            <label for="tlemail">
              If what you read resonates with you, please <strong
                >subscribe</strong
              >!
            </label>
          </div>
          <div class="flex gap-4">
            <div>
              <input
                type="text"
                name="email"
                id="tlemail"
                class="py-2 px-4"
                placeholder="email address"
              />
              <input type="hidden" value="1" name="embed" />
            </div>
            <div>
              <input class="sr-only" type="hidden" value="Subscribe" />
              <button
                class="bg-yellow-700 hover:bg-yellow-700 dark:bg-yellow-300 text-white dark:text-black font-bold py-2 px-4 rounded"
                type="submit">Subscribe</button
              >
            </div>
          </div>
          <p class="text-sm">
            <a href="https://tinyletter.com" target="_blank"
              >powered by TinyLetter</a
            >
          </p>
        </form>
      </ProseArticle>
    </main>

    <Footer />
  </BaseBody>
</html>
