---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

const series = (await getCollection("series")).sort(
  (a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf()
);
const lastPost = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())[0];
const lastProject = (await getCollection("project")).sort(
  (a, b) => b.data.createdDate.valueOf() - a.data.createdDate.valueOf()
)[0];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>
        <strong>Jeremy</strong> makes essays and mini projects about programming,
        data, and crafting.
      </h1>
      <h2>Developer, former Biomedical engineering, and home cook</h2>
      <h2>
        Currently leading application development at <a
          href="https://clearlabs.com/"
          target="_blank">Clear Labs</a
        >
      </h2>
    </main>

    <hr />

    <article>
      <h3>Newsletter Series</h3>

      A weekly, longform essay that mainly focuses on lessons I've learned. I
      try to write something I find meaningful, whether it's exposing your
      ignorance, staying true to yourself or being resilient. In a world of
      tweet-sized advice and short comments on a non-sensical Facebook post,
      there's not enough time to process and distill what we're actually
      thinking. These letters are to slow down, lean in and really try to form
      more coherent thoughts than writing that instant gratification post on my
      choice of social networking site.

      <section>
        <ul>
          {
            series.map((s) => (
              <li>
                <div>
                  <a href={`/series/${s.slug}/`}>{s.data.title}</a>
                  <div>
                    <FormattedDate date={s.data.createdDate} />
                    &nbsp;to&nbsp;
                    <FormattedDate date={s.data.endDate} />
                  </div>
                  {s.data.heroImage && (
                    <img width={240} src={s.data.heroImage} alt="" />
                  )}
                </div>
                <div>{s.data.description}</div>
              </li>
            ))
          }
        </ul>
      </section>
    </article>

    <article class="latest">
      <div>
        <h2>Latest Post</h2>
        <li>
          <FormattedDate date={lastPost.data.pubDate} />
          {`#${lastPost.data.postType}`}&nbsp;
          <a href={`/blog/${lastPost.slug}/`}>{lastPost.data.title}</a>
        </li>
      </div>
      <div>
        <h2>Latest Project</h2>
        <li>
          <FormattedDate date={lastProject.data.createdDate} />
          <a href={`/blog/${lastProject.slug}/`}>{lastProject.data.title}</a>
        </li>
      </div>
    </article>

    <hr />

    <article>
      <form
        action="https://tinyletter.com/jeremywong"
        class="landing-newsletter-form"
        method="post"
        onsubmit="window.open('https://tinyletter.com/jeremywong', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
        target="popupwindow"
      >
        <div class="landing-newsletter-desc">
          <span>
            <label for="tlemail">
              <span
                >Subscribe to my newsletter where I write longform essays</span
              >
              <span>that mainly focuses on lessons I've learned.</span>
            </label>
          </span>
        </div>
        <div class="landing-newsletter-fields">
          <div class="landing-newsletter-input">
            <input
              type="text"
              name="email"
              id="tlemail"
              placeholder="email address"
            />
            <input type="hidden" value="1" name="embed" />
          </div>
          <div class="landing-newsletter-subscribe">
            <input
              class="landing-newsletter-submit"
              type="hidden"
              value="Subscribe"
            />
            <button type="submit">Subscribe</button>
          </div>
        </div>
        <p>
          <a href="https://tinyletter.com" target="_blank"
            >powered by TinyLetter</a
          >
        </p>
      </form>
    </article>

    <Footer />
    <style>
      main h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: normal;
        margin-bottom: 1rem;
      }
      main h2 {
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 100;
        margin: 1rem 0;
      }
      .latest {
        display: flex;
        justify-content: left;
        gap: 2rem;
        margin: 2rem 0;
      }
      ul {
        list-style-type: none;
        padding: unset;
        display: flex;
        gap: 3rem;
        flex-direction: column;
      }
      ul li {
        display: flex;
      }
      ul li div:first-child {
        display: flex;
        flex-direction: column;
        flex: 0 0 350px;
      }
      ul li :global(time) {
        flex: auto;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
      .card {
        /* Add shadows to create the "card" effect */
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #c6cfda;
        padding: 1rem;
      }

      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.1);
      }
    </style>
  </body>
</html>
