---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseBody from "../../components/BaseBody.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";

const library = (await getCollection("library")).sort(
  (a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf()
);
const posts = (await getCollection("blog")).filter((post) => !post.data.draft);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: unset;
        gap: 1rem;
      }
      ul li {
        flex: 0 0 200px;
        display: flex;
        flex-direction: column;
        border: 1px solid #c6cfda;
        border-radius: 5px;
        box-sizing: border-box;
      }
      ul li :global(time) {
        font-style: italic;
        color: #595959;
      }
      ul li:hover {
        background: #f4f7f9;
      }
      ul li a:visited {
        color: #8e32dc;
      }
      ul li .content {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        padding-left: 1em;
        padding-right: 1em;
        border-top: 1px solid #ffffff40;
      }
    </style>
  </head>
  <BaseBody>
    <Header />
    <main>
      <h2 class="text-2xl mb-5">Library</h2>
      <section>
        <ul>
          {
            library.map((book) => (
              <li>
                <a href={book.data.link} target="_blank">
                  <img src={book.data.heroImage} width="200" />
                </a>
                <div class="content">
                  <div>{book.data.title}</div>
                  <div>{book.data.author}</div>
                  <FormattedDate date={book.data.dateConsumed} />
                  {posts.findIndex(
                    (post) => post.data.title === book.data.review
                  ) > -1 && (
                    <div>
                      <a
                        href={`/blog/${
                          posts[
                            posts.findIndex(
                              (post) => post.data.title === book.data.review
                            )
                          ].slug
                        }`}
                      >
                        Review
                      </a>
                    </div>
                  )}
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </BaseBody>
</html>
