---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseBody from "../../components/BaseBody.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";

const library = (await getCollection("library")).sort(
  (a, b) => b.data.dateConsumed.valueOf() - a.data.dateConsumed.valueOf()
);
const posts = (await getCollection("blog")).filter((post) => !post.data.draft);
const libraryReviews = library.map((book) => {
  const postIndex = posts.findIndex(
    (post) => post.data.title === book.data.review
  );
  if (postIndex > -1) {
    return posts[postIndex];
  } else {
    return null;
  }
});
const lindyLibrary = (await getCollection("lindy")).sort(
  (a, b) => b.data.title - a.data.title
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header />
    <main>
      <h2 class="text-2xl mb-5 dark:text-white">Library</h2>
      <section>
        <h3 class="text-xl mb-5 dark:text-white">Books</h3>
        <ul class="flex flex-wrap list-none p-0 gap-4">
          {
            library.map((book, bookIndex) => (
              <li class="flex flex-shrink-0 flex-grow-0 flex-col flex-[200px] rounded-sm box-border dark:text-white">
                <a
                  class="visited:text-purple-600"
                  href={book.data.link}
                  target="_blank"
                >
                  <img src={book.data.heroImage} width="200" />
                </a>
                <div class="py-3 px-4 border-t-2 border-solid border-gray-100 mt-4">
                  <div>{book.data.title}</div>
                  <div>{book.data.author}</div>
                  <FormattedDate
                    class="italic text-slate-600 dark:text-slate-300"
                    date={book.data.dateConsumed}
                  />
                  {libraryReviews[bookIndex] && (
                    <div>
                      <a
                        class="visited:text-purple-600"
                        href={`/blog/${libraryReviews[bookIndex].slug}`}
                      >
                        Review
                      </a>
                    </div>
                  )}
                </div>
              </li>
            ))
          }
        </ul>
      </section>
      <section>
        <h3 class="text-xl mb-5 dark:text-white">Lindy Library</h3>
        <h4 class="text-lg mb-3 dark:text-white">What's a Lindy Library?</h4>
        <p class="dark:text-white">A <strong>Lindy Library</strong> is an annex of content that has stood the test of time.</p>
        <h4 class="text-lg mt-5 mb-3 dark:text-white">Contents</h4>
        <ul class="flex flex-col list-none p-0 gap-1">
          {lindyLibrary.map((lindyItem) => (
            <li class="flex rounded-sm box-border p-4 bg-slate-100 dark:text-white">
              <a href={`/library/lindy/${lindyItem.slug}`}>{lindyItem.data.title}</a>
            </li>
          ))}
        </ul>
      </section>
    </main>
    <Footer />
  </BaseBody>
</html>
