---
import { getCollection } from "astro:content";
import FormattedDate from "../../../components/FormattedDate.astro";
import CurationDetailsPage from "../../../layouts/CurationDetailsPage.astro";
import ProseArticle from "../../../components/ProseArticle.astro";

const antiLibrary = (await getCollection("antiLibrary")).sort(
  (a, b) => b.data.dateAdded.valueOf() - a.data.dateAdded.valueOf()
);
---

<CurationDetailsPage title="Anti-Library">
  <div class="my-8"></div>
  <ProseArticle>
    <h2 class="text-2xl mt-8 dark:text-white">What is an Anti-library?</h2>
    <p>
      An anti-library is a collection of unread books. The Marginalian wrote an
      excellent piece about it called
      <a
        href="https://www.themarginalian.org/2015/03/24/umberto-eco-antilibrary/"
        >Umberto Eco's Antilibrary: Why Unread Books Are More Valuable to Our
        Lives than Read Ones</a
      >. While it sounds wasteful to have unread books, think of it like a pike
      of books you would gladly pick up when you find time to read. The Japanese
      call this Tsudonku.
    </p>
    <blockquote>
      Tsudonku: Japanese for leaving a book unread after buying it, typically
      piled up together with other unread books.
    </blockquote>
    <p>
      Back to the article about Umberto Eco, one thing that resonated with me is
      resumes are a collection of knowledge of things you know. What if you have
      a list of things you don't yet know?
    </p>
    <blockquote>
      People don't walk around with anti-résumés telling you what they have not
      studied or experienced (it's the job of their competitors to do that), but
      it would be nice if they did.
    </blockquote>
  </ProseArticle>
  <h2 class="text-2xl mt-8 dark:text-white">My Anti-library Collection</h2>
  <section>
    <ul class="flex flex-wrap list-none mt-8 p-0 gap-4">
      {
        antiLibrary.map((entry) => (
          <li class="flex flex-shrink-0 flex-grow-0 flex-col flex-[200px] rounded-sm box-border dark:text-white">
            <a
              class="visited:text-[#f25042]"
              href={`/curation/antibooks/${entry.slug}`}
            >
              <img
                alt={entry.data.heroImageAlt}
                src={entry.data.heroImage}
                width="200"
              />
            </a>
            <div class="py-3 px-4 border-t-2 border-solid border-gray-100 mt-4">
              <div>{entry.data.title}</div>
              <div>{entry.data.bookAuthor}</div>
              <FormattedDate
                class="italic text-slate-600 dark:text-slate-300"
                date={entry.data.dateAdded}
              />
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</CurationDetailsPage>
