---
import { getCollection, getEntry } from "astro:content";
import CurationDetailsPage from "../../../layouts/CurationDetailsPage.astro";
import ProseArticle from "../../../components/ProseArticle.astro";

const antiLibrary = (await getCollection("antiLibrary")).sort(
  (a, b) => b.data.dateAdded.valueOf() - a.data.dateAdded.valueOf()
);
const entry = await getEntry("curation", "antilibrary");
const { heroImage, heroImageAlt } = entry?.data ?? {};
---

<CurationDetailsPage
  image={heroImage}
  imageAlt={heroImageAlt}
  title="Anti-Library"
>
  <section class="mb-8">
    <ul class="grid grid-cols-1 lg:grid-cols-2 gap-8 list-none p-0">
      {
        antiLibrary.map((entry) => (
          <li class="grid grid-cols-4 gap-4 mb-6 md:mb-0 rounded-xs box-border dark:text-white">
            <div class="col-span-4 sm:col-span-1">
              <a
                class="visited:text-amber-600 hover:grayscale"
                href={`/curation/antibooks/${entry.slug}`}
              >
                <img
                  alt={entry.data.heroImageAlt}
                  src={entry.data.heroImage}
                  width="200"
                />
              </a>
            </div>
            <div class="col-span-4 sm:col-span-3">
              <div class="mb-2 border-b-2 border-gray-300 dark:border-gray-700">
                <a
                  class="hover:underline hover:text-purple-500 visited:text-amber-600"
                  href={`/curation/antibooks/${entry.slug}`}
                >
                  {entry.data.title}
                </a>
              </div>
              <div>{entry.data.bookAuthor}</div>
              <div class="mt-2 dark:text-slate-100">{entry.data.blurb}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
  <hr class="mt-10 mb-10" />
  <section>
    <ProseArticle>
      <h2 class="text-2xl mt-8 dark:text-white">What is an Anti-library?</h2>
      <p>
        An anti-library is a collection of unread books. The Marginalian wrote
        an excellent piece about it called
        <a
          href="https://www.themarginalian.org/2015/03/24/umberto-eco-antilibrary/"
          >Umberto Eco's Antilibrary: Why Unread Books Are More Valuable to Our
          Lives than Read Ones</a
        >. While it sounds wasteful to have unread books, think of it like a
        pike of books you would gladly pick up when you find time to read. The
        Japanese call this Tsudonku.
      </p>
      <blockquote>
        Tsudonku: Japanese for leaving a book unread after buying it, typically
        piled up together with other unread books.
      </blockquote>
      <p>
        Back to the article about Umberto Eco, one thing that resonated with me
        is resumes are a collection of knowledge of things you know. What if you
        have a list of things you don't yet know?
      </p>
      <blockquote>
        People don't walk around with anti-résumés telling you what they have
        not studied or experienced (it's the job of their competitors to do
        that), but it would be nice if they did.
      </blockquote>
    </ProseArticle>
  </section>
</CurationDetailsPage>
