---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  item: CollectionEntry<"book">;
}

const { item } = Astro.props;
const { data, slug } = item;
const { pubDate, title, heroImage, heroImageAlt, blurb, author } = data;
---

<div
  class="prose dark:prose-invert !max-w-none prose-p:m-0 grid grid-cols-8 gap-2 mb-6 md:mb-0 rounded-xs box-border dark:text-white"
>
  <div class="col-span-5 sm:col-span-6 md:py-0 md:px-0 md:mt-0">
    <div class="mb-2">
      <a
        class="my-4 bold hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
        href={`/curation/books/${slug}`}
      >
        {title}
      </a>
    </div>
    <div class="text-xs italic mb-2 text-slate-600 dark:text-slate-400">
      Posted <FormattedDate
        class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
        date={pubDate}
        options={{ hour: "numeric", minute: "numeric" }}
      />
    </div>
    <div class="mb-2 border-b-2 border-gray-300 dark:border-gray-700">
      Author:&nbsp;{author}
    </div>
    <div class="mt-2 dark:text-slate-100">
      {blurb}
      <div class="prose dark:prose-invert !max-w-none">
        <span
          >Filed: 📖 <a
            class="hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
            href="/curation/books">Books</a
          ></span
        >
      </div>
    </div>
  </div>
  <div class="col-span-3 sm:col-span-2">
    <a
      class="visited:text-amber-600 hover:grayscale"
      href={`/curation/books/${slug}`}
    >
      <img src={heroImage} class="aspect-auto w-full" alt={heroImageAlt} />
    </a>
  </div>
</div>
