---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  item: CollectionEntry<"inspiration">;
}

const { item } = Astro.props;
const { data, id } = item;
const { pubDate, updatedDate, title, description } = data;
---

<div class="mb-6 md:mb-0 rounded-xs box-border dark:text-white">
  <div>
    <div class="max-w-none line-clamp-4 md:line-clamp-5">
      <a
        class="text-lg md:text-xl font-semibold my-4 hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300 inline-block"
        href={`/curation/inspiration/${id}`}
      >
        {title}
      </a>
      <div class="text-sm italic mb-2">
        {
          updatedDate ? (
            <FormattedDate
              class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
              date={updatedDate}
              options={{ hour: "numeric", minute: "numeric" }}
            >
              <span slot="prepend">Last Updated:&nbsp;</span>
            </FormattedDate>
          ) : (
            <FormattedDate
              class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
              date={pubDate}
              options={{ hour: "numeric", minute: "numeric" }}
            >
              <span slot="prepend">Published:&nbsp;</span>
            </FormattedDate>
          )
        }
      </div>
    </div>
    <p class="text-slate-800 dark:text-slate-300">
      {description}
    </p>
    <div class="grid grid-cols-8 gap-0 md:gap-4 max-w-none dark:text-white mt-2">
      <div class="col-span-8 md:col-span-4 lg:col-span-2">
        <span
          >Filed: 💖 <a
            class="hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
            href="/curation/inspiration">inspiration</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
