---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import ProseArticle from "./ProseArticle.astro";

export interface Props {
  item: CollectionEntry<"writing">;
}

const { item } = Astro.props;
const { data, id } = item;
const { pubDate, tags, title } = data;
const { Content } = await render(item);
---

<div class="max-w-none dark:text-white">
  <a
    class="text-lg md:text-xl font-semibold my-4 hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300 inline-block"
    href={`/blog/${id}/`}
  >
    {title}
  </a>
  <div class="text-xs italic mb-2 text-slate-600 dark:text-slate-400">
    Posted <FormattedDate
      class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
      date={pubDate}
      options={{ hour: "numeric", minute: "numeric" }}
    />
  </div>
</div>
<ProseArticle class="prose--compact line-clamp-8 md:line-clamp-10">
  <Content />
</ProseArticle>
<div class="flex gap-4 dark:text-white">
  <div>
    <a
      class="my-4 font-semibold text-yellow-800 dark:text-yellow-500 hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
      href={`/blog/${id}/`}
    >
      Read More
    </a>
  </div>
  <div class="flex gap-2">
    {
      Array.isArray(tags) &&
        tags.map((tag: string) => (
          <a
            class="text-slate-600 dark:text-slate-400 italic font-light hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
            href={`/blog/tag/${tag}`}
          >
            {tag}
          </a>
        ))
    }
  </div>
</div>
