---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import ProseArticle from "./ProseArticle.astro";

export interface Props {
  item: CollectionEntry<"stream">;
}

const { item } = Astro.props;
const { data, id } = item;
const { title, tags } = data;
const { Content } = await render(item);
---

<div class="max-w-none dark:text-white">
  <a
    class="text-lg md:text-xl font-semibold hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
    href={`/curation/stream/link/${id}`}>{title}</a
  >
  <div class="text-xs italic mb-2 text-slate-600 dark:text-slate-400">
    Posted <FormattedDate
      date={item.data.pubDate}
      options={{ hour: "numeric", minute: "numeric" }}
    />
  </div>
</div>
<ProseArticle>
  <Content />
</ProseArticle>
<div class="dark:text-white">
  <div class="pt-2 flex gap-2">
    {
      Array.isArray(tags) &&
        tags.map((tag: string) => (
          <a
            class="text-slate-600 dark:text-slate-400 italic font-light hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
            href={`/blog/tag/${tag}`}
          >
            {tag}
          </a>
        ))
    }
  </div>
</div>
