---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { Image } from "astro:assets";

export interface Props {
  item: CollectionEntry<"project">;
}

const { item } = Astro.props;
const { data, slug } = item;
const { pubDate, title, coverImage, imageAlt, description, updatedDate } = data;
---

<div
  class="prose dark:prose-invert !max-w-none prose-p:m-0 grid grid-cols-8 gap-2 mb-6 md:mb-0 rounded-sm box-border dark:text-white"
>
  <div class="col-span-5 sm:col-span-6 md:py-0 md:px-0 md:mt-0">
    <a
      class="my-4 bold hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
      href={`/project/${slug}`}
    >
      {title}
    </a>
    {
      updatedDate ? (
        <div class="text-sm italic mb-2">
          Last updated{" "}
          <FormattedDate
            class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
            date={updatedDate}
            options={{ hour: "numeric", minute: "numeric" }}
          />
        </div>
      ) : (
        <div class="text-sm italic mb-2">
          Posted{" "}
          <FormattedDate
            class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
            date={pubDate}
            options={{ hour: "numeric", minute: "numeric" }}
          />
        </div>
      )
    }
    <div class="mt-2 dark:text-slate-100">
      {description}
      {
        updatedDate && (
          <p class="italic text-slate-600 dark:text-slate-300">
            Originally published{" "}
            <FormattedDate
              date={pubDate}
              options={{ hour: "numeric", minute: "numeric" }}
            />
          </p>
        )
      }
      <div class="prose dark:prose-invert !max-w-none">
        <span
          >Filed: 🚢 <a
            class="hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
            href="/project">Playground</a
          ></span
        >
      </div>
    </div>
  </div>
  <div class="col-span-3 sm:col-span-2">
    <a class="visited:text-amber-600 hover:grayscale" href={`/project/${slug}`}>
      {
        coverImage && (
          <div class="h-[150px] grid items-center overflow-hidden">
            <Image src={coverImage} alt={imageAlt} />
          </div>
        )
      }
    </a>
  </div>
</div>
