---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { Image } from "astro:assets";

export interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
---

<li class="grid grid-cols-12 gap-4 rounded-lg px-6 py-8">
  {
    project.data.coverImage && (
      <div class="col-span-12 md:col-span-6 lg:col-span-4 h-max-[300px] grid items-center overflow-hidden">
        <Image src={project.data.coverImage} alt={project.data.imageAlt} />
      </div>
    )
  }
  {
    project.data.image && (
      <div class="col-span-12 md:col-span-6 lg:col-span-4 h-max-[300px] grid items-center overflow-hidden">
        <img
          class="w-full"
          src={project.data.image}
          alt={project.data.imageAlt}
        />
      </div>
    )
  }
  <div class="col-span-12 md:col-span-6 lg:col-span-8">
    <div class="font-bold text-xl mb-2 dark:text-gray-200">
      <a
        class="hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
        href={`/project/${project.slug}/`}
      >
        {project.data.title}
      </a>
    </div>
    <p class="text-slate-800 dark:text-slate-300">
      <i>{project.data.description}</i>
    </p>
    <div class="flex gap-4">
      {
        project.data.updatedDate ? (
          <FormattedDate
            class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
            date={project.data.updatedDate}
            options={{ hour: "numeric", minute: "numeric" }}
          >
            <span slot="prepend">Last Updated:&nbsp;</span>
          </FormattedDate>
        ) : (
          <FormattedDate
            class="col-span-8 md:col-span-3 lg:col-span-2 italic text-slate-600 dark:text-slate-300"
            date={project.data.createdDate}
            options={{ hour: "numeric", minute: "numeric" }}
          >
            <span slot="prepend">Published:&nbsp;</span>
          </FormattedDate>
        )
      }
    </div>
  </div>
</li>

<style>
  .project-image-container {
    padding-bottom: 5px;
    max-height: 150px;
    overflow-y: hidden;
    position: relative;
  }
  .project-image {
    position: relative;
    margin-top: 50%;
    transform: translateY(-50%);
  }
</style>
