---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { Image } from "astro:assets";

export interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
---

<li
  class="bg-yellow-50 dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl flex-grow-0 flex-[48%]"
>
  {
    project.data.coverImage && (
      <div class="h-[150px] grid items-center overflow-hidden">
        <Image src={project.data.coverImage} alt={project.data.imageAlt} />
      </div>
    )
  }
  {
    project.data.image && (
      <img
        class="w-full"
        src={project.data.image}
        alt={project.data.imageAlt}
      />
    )
  }
  <div class="font-bold text-xl mb-2 dark:text-gray-200">
    <a
      class="hover:underline hover:text-purple-500 visited:text-amber-600 dark:visited:text-purple-300"
      href={`/project/${project.slug}/`}
    >
      {project.data.title}
    </a>
  </div>
  <p class="text-slate-800 dark:text-slate-300">
    <i>{project.data.description}</i>
  </p>
  <div class="flex gap-4">
    <FormattedDate
      class="italic text-slate-600 dark:text-slate-300"
      date={project.data.createdDate}
    />
  </div>
</li>

<style>
  .project-image-container {
    padding-bottom: 5px;
    max-height: 150px;
    overflow-y: hidden;
    position: relative;
  }
  .project-image {
    position: relative;
    margin-top: 50%;
    transform: translateY(-50%);
  }
</style>
