---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<li class="dark:text-white my-8">
  <a
    class="my-4 text-xl hover:underline visited:text-[#f25042] dark:visited:text-purple-300"
    href={`/blog/${post.slug}/`}
  >
    {post.data.title}
  </a>
  <p class="text-slate-800 dark:text-slate-300"><i>{post.data.description}</i></p>
  <div class="flex gap-4">
    <FormattedDate
      class="italic text-slate-600 dark:text-slate-300"
      date={post.data.pubDate}
    />
    <div>
      {`#${post.data.postType}`}
    </div>
  </div>
  {
    /** Array.isArray(post.data.tags) &&
  post.data.tags.map((tag) => `#${tag}`).join(" ") */
  }
</li>
